*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body {
	padding-left: 10%;
  padding-right: 10%;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  font-weight: 400;
  line-height:  1.5;
  color:  #212529;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * 0);
  margin-right: calc(-0.5 * 1.5rem);
  margin-left: calc(-0.5 * 1.5rem);
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(0.75rem * 0.5);
  padding-left: calc(0.75rem * 0.5);
  margin-top: 0.75rem;
}
.container{
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

.d-flex {
  display: flex !important;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.align-items-center {
  align-items: center !important;
}
.text-center {
  text-align: center !important;
}
.p-2 {
  padding: 0.5rem !important;
}
.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(33, 37, 41, 1) !important;
}
.bg-pink{
  --bs-bg-opacity: 1;
  background-color: rgba(255, 141, 161, 1) !important;
}
.text-white {
  --bs-text-opacity: 1;
  color: rgba(255, 255, 255, 1) !important;
}
.col-sm-1{
	float: left;
	width: 8.30%;
}
.col-sm-2{
	float: left;
	width: 16.65%;
}
.col-sm-3{
	float: left;
	width: 25%;
}
.col-sm-4{
	float: left;
	width: 33.30%;
}
.col-sm-5{
	float: left;
	width: 41.65%;
}
.col-sm-6{
	float: left;
	width: 50%;
}
.col-sm-7{
	float: left;
	width: 58.30%;
}
.col-sm-8{
	float: left;
	width: 66.65%;
}
.col-sm-9{
	float: left;
	width: 75%;
}
.col-sm-10{
	float: left;
	width: 83.30%;
}
.col-sm-11{
	float: left;
	width: 91.65%;
}
.col-sm-12{
	float: left;
	width: 100%;
}
.rounded {
  border-radius: 0.25rem !important;
}
.checkbox{
	height: 15px; 
	width: 15px;
	vertical-align: middle;
}